<!DOCTYPE html>
<html>
<head>
    <title>Home - Sentiment Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container text-center my-5">
        <h1>Welcome to the Sentiment Analysis App</h1>
        <p>This app predicts the sentiment of film reviews. Try it out now!</p>
        <a href="/predict" class="btn btn-primary">Go to Prediction</a>
    </div>
</body>
</html>


